{% extends "index.html" %}

{% block content_block %}
<h1> Mentees </h1>

{% for k_number, mentee in mentees.items() %}
<div>
    <h2>{{mentee["first_name"] + "  " + mentee["last_name"]}} &nbsp; K-Number: {{k_number}}<h2>

    </h2>
    <div id="browse_app">
        <a class="btn btn-large btn-info" href="{{url_for('mentor_mentee', k_number_mentee=k_number)}}">More Info </a>
    </div>
</div>
{% endfor %}
    

<div id="browse_app">
    <a class="btn btn-large btn-info" href="{{url_for('mentor')}}">Back to Dashboard </a>
</div>



{% endblock content_block %}
