{% extends "template.html" %}

{% block content_block %}

<h1> Preferences </h1>
<h4> K-Number: {{user_data["k_number"]}}<h4>
<h4> First Name: {{user_data["first_name"]}}<h4>
<h4> Last Name: {{user_data["last_name"]}}<h4>

<form action = "{{url_for('mentor.mentor_preferences')}}" method = "post">

    <h4>Gender:</h4>
    <label class="custom-control custom-radio">
    <input id="radio1" name="gender" type="radio" class="custom-control-input" value="Male" {% if user_data["gender"] == "Male" %} checked {% endif %}>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Male</span>
    </label>
    <label class="custom-control custom-radio">
    <input id="radio2" name="gender" type="radio" class="custom-control-input" value="Female" {% if user_data["gender"] == "Female" %} checked {% endif %}>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Female</span>
    </label>
    <label class="custom-control custom-radio">
    <input id="radio2" name="gender" type="radio" class="custom-control-input" value="Other" {% if user_data["gender"] == "Other" %} checked {% endif %}>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Other</span>
    </label>
    <label class="custom-control custom-radio">
    <input id="radio2" name="gender" type="radio" class="custom-control-input" value="Prefer not to say" {% if user_data["gender"] == "Prefer not to say" %} checked {% endif %}>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Prefer not to say</span>
    </label>

    <div>
        <label class="form-inline">Date of Birth
        <input class="help-block" type="date" name="date_of_birth" value="{{user_data["date_of_birth"]}}"></label>
    </div>
    <div>
        <label class="form-inline">Mentee Limit
        <input class="help-block" type="number" name="buddy_limit" value="{{user_data["buddy_limit"]}}"></label>
    
    </div>
    
    <div class="form-check">
        <h4> Hobbies:</h4>
        {% for hobby in data_definitions["hobbies"] %}
            <label class="checkbox"><input type="checkbox" name="hobby" value="{{hobby["id"]}}" {% if hobby["id"] in user_data["hobbies"] %} checked {% endif %}>{{hobby["hobby_name"]}}</label>
        {% endfor %}
    </div>
    <div id="submit">
        <p><input class="btn btn-large btn-info" type = "submit" value = "Submit" /></p>
    </div>
</div>
</form>

<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            First radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Second radio
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Third disabled radio
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-2">Academic Interests</div>
    <div class="col-sm-10">

      {% for interest in data_definitions["interests"] %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" name="interest" value="{{interest["id"]}}" {% if interest["id"] in user_data["interests"] %} checked {% endif %}>
          <label class="form-check-label" for="gridCheck1">
            {{interest["interest_name"]}}
          </label>
        </div>  
      {% endfor %}  

    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
<div id="browse_app">
    <a class="btn btn-large btn-info" href="{{url_for('mentor.mentor')}}">Back to Dashboard</a>
</div>
{% endblock content_block %}
