{% extends "template.html" %}

{% block content_block %}

<h1> Your Profile </h1>
<h4> K-Number: {{user_data["k_number"]}}<h4>
<h4> First Name: {{user_data["first_name"]}}<h4>
<h4> Last Name: {{user_data["last_name"]}}<h4>
<h4> Gender: {{user_data["gender"]}}<h4>
<h4> Date of Birth: {{user_data["date_of_birth"]}}<h4>
<h4> Buddy Limit: {{user_data["buddy_limit"]}}<h4>

<h4> Hobbies:</h4>
<ul>
    {% for hobby_id, hobby_name in user_data["hobbies"].items() %}
    <li>{{ hobby_name }}</li>
    {% endfor %}
</ul>


<h4> Academic Interests: </h4>
<ul>
    {% for interest_id, interest_name in user_data["interests"].items() %}
    <li>{{ interest_name }}</li>
    {% endfor %}
</ul>


<div style="text-align: center">
<div id="browse_app">

    <a class="btn btn-large btn-info" href="{{url_for('mentor.mentor_preferences')}}">Preferences</a>
    <a class="btn btn-large btn-info" href="{{url_for('mentor.mentor_mentee_list')}}">My Mentees</a>

</div>
</div>
{% endblock content_block %}
