{% extends "template.html" %}

{% block content_block %}
<h1> Your Profile </h1>
<h2> K-Number: {{user_data["k_number"]}}<h2>
<h2> First Name: {{user_data["first_name"]}}<h2>
<h2> Last Name: {{user_data["last_name"]}}<h2>
<h2> Age: {{user_data["age"]}}<h2>
<h2> Hobbies:</h2>
<ul>
    {% for hobby_id, hobby_name in user_data["hobbies"].items() %}
    <li>{{ hobby_name }}</li>
    {% endfor %}
</ul>


<h2> Academic Interests: </h2>
<ul>
    {% for interest_id, interest_name in user_data["interests"].items() %}
    <li>{{ interest_name }}</li>
    {% endfor %}
</ul>


<div style="text-align: center">
<div id="browse_app">

    <a class="btn btn-large btn-info" href="{{url_for('mentor.mentor_preferences')}}">Preferences</a>
    <a class="btn btn-large btn-info" href="{{url_for('mentor.mentor_mentee_list')}}">My Mentees</a>

</div>
</div>
{% endblock content_block %}
