{% extends "template.html" %}

{% block content_block %}

<h1 id="title"> Your Profile </h1>

<form action = "{{url_for('mentor.mentor_preferences')}}" method = "post">

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">K-Number</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" value="{{user_data["k_number"]}}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" value="{{user_data["first_name"]}}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" value="{{user_data["last_name"]}}" readonly>                                                                                           
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Gender</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" value="{{user_data["gender"]}}" readonly>                                                                                           
    </div>                                                                                   
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Date of Birth</label>
    <div class="col-sm-10">
        <input class="form-control" type="date" name="date_of_birth" value="{{user_data["date_of_birth"]}}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Buddy Limit</label>
    <div class="col-sm-10">
        <input class="form-control" type="text" name="date_of_birth" value="{{user_data["buddy_limit"]}}" readonly>
    </div>
  </div>

</form>

<h4> Hobbies:</h4>
<ul>
    {% for hobby_id, hobby_name in user_data["hobbies"].items() %}
    <li>{{ hobby_name }}</li>
    {% endfor %}
</ul>


<h4> Academic Interests: </h4>
<ul>
    {% for interest_id, interest_name in user_data["interests"].items() %}
    <li>{{ interest_name }}</li>
    {% endfor %}
</ul>


<div style="text-align: center">
<div id="browse_app">

    <a class="btn btn-large btn-info" href="{{url_for('mentor.mentor_preferences')}}">Preferences</a>
    <a class="btn btn-large btn-info" href="{{url_for('mentor.mentor_mentee_list')}}">My Mentees</a>

</div>
</div>
{% endblock content_block %}
