{% extends "template.html" %}

{% block nav_block %}
  {% if current_user.priv == 'admin'%}
    <li><a href="/admin">Admin</a></li>
  {% endif %}
{% endblock nav_block %}    

{% block content_block %}
<h1> Buddy </h1>
<h4> K-Number: {{k_number_buddy}}<h4> 
<h4> First Name: {{buddy_data["first_name"]}}<h4> 
<h4> Last Name: {{buddy_data["last_name"]}}<h4> 
<h4> Age: {{buddy_data["age"]}}<h4> 


<div id="browse_app navigate">
    <a class="btn btn-large btn-info" href="{{url_for('user.user_buddy_list')}}">Back to Buddy List </a>
</div>

{% endblock content_block %}
