{% extends "template.html" %}

{% block content_block %}
<h1 id="title"> Buddies </h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">K-Number</th>
      <th scope="col">More</th>
    </tr>
  </thead>
  <tbody>

  {% for k_number, buddy in buddies.items() %}
    <tr>
      <td>{{buddy["first_name"]}}</td>
      <td>{{buddy["last_name"]}}</td>
      <td>{{k_number}}</td>
      <td>
          <a class="btn btn-large btn-info" href="{{url_for('user.user_buddy', k_number_buddy=k_number)}}">More Info </a>
      </td>
    </tr>
  {% endfor %}

  </tbody>
</table>


<div id="browse_app navigate">
    <a class="btn btn-large btn-info" href="{{url_for('user.user')}}">Back to Dashboard </a>
</div>

{% endblock content_block %}
