{% extends "template.html" %}

{% block nav_block %}
  {% if current_user.priv == 'admin'%}
    <li><a href="/admin">Admin</a></li>
  {% endif %}
{% endblock nav_block %}

{% block content_block %}

<h1 id="title"> Your Profile </h1>

<form>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">K-Number</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" value="{{user_data["k_number"]}}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" value="{{user_data["first_name"]}}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" value="{{user_data["last_name"]}}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Gender</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" value="{{user_data["gender"]}}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Date of Birth</label>
    <div class="col-sm-10">
        <input class="form-control" type="date" name="date_of_birth" value="{{user_data["date_of_birth"]}}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Buddy Limit</label>
    <div class="col-sm-10">
        <input class="form-control" type="text" name="date_of_birth" value="{{user_data["buddy_limit"]}}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">User Role</label>
    <div class="col-sm-10">
      {% if user_data["is_mentor"] %}
        <input class="form-control" type="text" value="Mentor" readonly>
      {% else %}
        <input class="form-control" type="text" value="Mentee" readonly>
      {% endif %}  
    </div>
  </div>


   <div class="form-check">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Interests</label>
         <div class="col-sm-10">
          {% for interest_id, interest_name in user_data["interests"].items() %}
            <input class="form-check-input" type="checkbox" id="gridCheck1" name="interest" value="" checked disabled>
            <label class="form-check-label" for="gridCheck1">
              {{interest_name}}
            </label>
        {% endfor %}
      </div>
    </div>

   <div class="form-check">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Hobbies</label>
         <div class="col-sm-10">
          {% for hobby_id, hobby_name in user_data["hobbies"].items() %}
            <input class="form-check-input" type="checkbox" id="gridCheck1" name="interest" value="" checked disabled>
            <label class="form-check-label" for="gridCheck1">
              {{hobby_name}}
            </label>
        {% endfor %}
      </div>
    </div>

</form>

<div style="text-align: center">
<div id="browse_app navigate">

    <a class="btn btn-large btn-info" href="{{url_for('user.user_preferences')}}">Preferences</a>
    <a class="btn btn-large btn-info" href="{{url_for('user.user_buddy_list')}}">My Buddies</a>

</div>
</div>
{% endblock content_block %}
