{% extends "template.html"%}

{% block content_block %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
			<div class="alert alert-warning">
				{{ message }}
			</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

<form action="" method="post" name="reset">
    {{ reset_password_form.csrf_token }}
    <div class="form-group">
        {{ reset_password_form.old_password.label(class="form-control-label") }}
        {{ reset_password_form.old_password(class="form-control form-control-lg", placeholder="Please insert your old password") }}
    </div>
    <div class="form-group">
        {{ reset_password_form.password.label(class="form-control-label") }}
        {{ reset_password_form.password(class="form-control form-control-lg", placeholder="Please insert your current password") }}
    </div>
    <div class="form-group">
        {{ reset_password_form.confirm_password.label(class="form-control-label") }}
        {{ reset_password_form.confirm_password(class="form-control form-control-lg", placeholder="Please confirm your new password") }}
    </div>
    <div class="col-md-12 text-center ">
        {{ reset_password_form.reset_password_submit(class="btn btn-block mybtn btn-primary tx-tfm") }}
    </div>
</form>

{% endblock content_block %}
