{% extends "index.html" %}

{% block content_block %}
<h2>Allocation Configuration</h2>
<p>Edit the values below to change the weighting used for the algorithm.</p>
<p>Note: The weighting applied for hobbies and interests, will be applied for each individual hobby or interest.</p>
<div class="form-group">
    <form action = "{{url_for('admin.allocation_config')}}" method="post">

        <label class="form-text">Age</label>
        <div class="slidecontainer">
            <input name="age_weight" type="range" min="0" max="100" value="{{allocation_config['age_weight']}}" class="slider" id="ageSlider">
            <p id="ageTextBox"> </p>
        </div>

        <label class="form-text">Gender</label>
        <div class="slidecontainer">
            <input name="gender_weight" type="range" min="0" max="100" value="{{allocation_config['gender_weight']}}" class="slider" id="genderSlider">
            <p id="genderTextBox"> </p>
        </div>

        <label class="form-text">Hobbies</label>
        <div class="slidecontainer">
            <input name="hobby_weight" type="range" min="0" max="100" value="{{allocation_config['hobby_weight']}}" class="slider" id="hobbySlider">
            <p id="hobbyTextBox"> </p>
        </div>

        <label class="form-text">Interests</label>
        <div class="slidecontainer">
            <input name="interest_weight" type="range" min="0" max="100" value="{{allocation_config['interest_weight']}}" class="slider" id="interestSlider">
            <p id="interestTextBox"> </p>
        </div>

        <input class="btn btn-block btn-lg help-block btn-primary my-3" type ="submit" value="Update" />

    </form>
    <script src="{{ url_for('static',filename='js/admin_allocation_config_sliders.js') }}"> </script>
</div>

<div class="help-block" id="allocate">
    <a class="btn btn-block btn-lg help-block btn-primary my-3" href="{{url_for('admin.allocation_algorithm')}}">Allocate</a>
</div>

<div class="help-block" id="back_to_dashboard">
    <a class="btn btn-block btn-lg help-block btn-primary my-3" href="{{url_for('admin.admin_dashboard')}}">Back to Dashboard </a>
</div>

{{update_message}}



{% endblock content_block %}
