{% extends "shared/user_screen_layout.html" %}

{% block content_block %}

<a href="{{ url_for('admin_view_students') }}" class="btn btn-lg btn-block btn-primary my-3" role="button">View Students</a>
<a href="{{ url_for('allocation_algorithm') }}" class="btn btn-lg btn-block btn-primary my-3" role="button">Allocation Alogirthm</a>
<!--
<a href="{{ url_for('general_settings') }}" class="btn btn-lg btn-block btn-primary my-3" role="button">General Settings</a>
<a href="{{ url_for('sign_up_settings') }}" class="btn btn-lg btn-block btn-primary my-3" role="button">Sign-up Settings</a>
-->



{% endblock content_block %}
