{% extends "template.html"%}

{% block nav_block %}
  <li><a href="/dashboard">Back</a></li>
  <li><a href="/user">User</a></li>   
{% endblock nav_block %}


{% block content_block %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-warning">
	{{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% block content %}{% endblock %}

<div id="first" style="inline">


	<div class="myform form ">
		<div class="logo mb-3">
			<div class="col-md-12 text-center">
				<h1 id="title">Add hobby</h1>
			</div>
		</div>

    <div class="form-check" id="title">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Current Hobbies</label>
        <div class="col-sm-10">
	      {% for hobby in currentHobbies %}
          <input class="form-check-input" type="checkbox" id="gridCheck1" name="interest" value="" checked disabled>
          <label class="form-check-label" for="gridCheck1">
            {{ hobby['hobby_name'] }}
          </label>
	      {% endfor %}
        </div>    
    </div>  

        </br>
		<form action="" method="post" name="settings">
			{{ hobby_form.csrf_token }}

			<div class="form-group">
				{{ hobby_form.hobby_name.label(class="form-control-label") }}
				{{ hobby_form.hobby_name(class="form-control form-control-lg", placeholder="Hobby Name") }}
			</div>
			<div class="col-md-12 text-center ">
				{{ hobby_form.hobby_submit(class="btn btn-block mybtn btn-primary tx-tfm") }}
			</div>
			<div class="col-md-12 ">
				<div class="login-or">
					<hr class="hr-or">
					<span class="span-or"></span>
				</div>
			</div>
		</form>

		<div class="logo mb-3">
			<div class="col-md-12 text-center">
				<h1 id="title">Add Interest</h1>
			</div>
		</div>

    <div class="form-check" id="title">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Current Interests</label>
        <div class="col-sm-10">                                                              
          {% for interest in currentInterests %}
          <input class="form-check-input" type="checkbox" id="gridCheck1" name="interest" value="" checked disabled>
          <label class="form-check-label" for="gridCheck1">
            {{ interest['interest_name'] }}
          </label>
          {% endfor %}
        </div>    
    </div>  

        </br>
		<form action="" method="post" name="settings">
			{{ interest_form.csrf_token }}
			<div class="form-group">
				{{ interest_form.interest_name.label(class="form-control-label") }}
				{{ interest_form.interest_name(class="form-control form-control-lg", placeholder="Interest Name") }}
			</div>
			<div class="col-md-12 text-center ">
				{{ interest_form.interest_submit(class="btn btn-block mybtn btn-primary tx-tfm") }}
			</div>
			<div class="col-md-12 ">
				<div class="login-or">
					<hr class="hr-or">
					<span class="span-or"></span>
				</div>
			</div>
		</form>
	</div>
</div>


{% endblock content_block %}
