{% extends "template.html" %}

{% block nav_block %}                                                                    
  <li><a href="/user">User</a></li>
{% endblock nav_block %}

{% block content_block %}

<div>
        {% if udata['is_mentor'] %}
        <h1> Mentor </h1>
        {% else %}
        <h1> Mentee </h1>
        {% endif %}
        <h4> K-Number: {{udata.k_number}}</h4>
        <h4> First Name: {{udata.first_name}}</h4>
        <h4> Last Name: {{udata.last_name}}</h4>
        <h4> Age: {{udata.age}}</h4>
    </div>
<br />
<div>
    <h4> Hobbies:</h4>
    <ul>
        {% for hobby in hobbies %}
        <li>{{ hobby.hobby }}</li>
        {% endfor %}
    </ul>
    <br />
    <h4> Academic Interests: </h4>
    <ul>
        {% for interest in interests %}
        <li>{{ interest.interest }}</li>
        {% endfor %}
    </ul>
</div>
<br />
{% if potentials|length %}
<table class="table table-hover" id='table'>
    <thead>
        <tr colspan=5><h2 class='text-center'>Potential {% if udata.is_mentor %} {{"Mentees"}} {% else %} {{"Mentors"}}{% endif %} To Match</h2></tr>
<tr>
<tr>
<div class="searchBar">
    Filter By Name:
    <input type='text' id='nameFilt' onkeyup='return filterName()'/>
</div></tr>
<th scope="col" class="text-center">K Number</th>
<th scope="col">First Name</th>
<th scope="col">Last Name</th>
<th scope="col">Gender</th>
<th scope="col">Year</th>
<th scope="col">Already Matched</th>
<th scope="col" class="text-center">Action</th>
</tr>
</thead>
<tbody id='tbody'>
    {% for student in potentials %}
    <tr>
        <td>{{student.k_number}}</td>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.year_study}}</td>
        <td>{{student.matches}}</td>
<form method="POST" action={{url_for("admin.view_student_details")}}>
    <input type='hidden' name='knum' value='{{udata.k_number}}'></input>
    <input type="hidden" name='{% if udata.is_mentor %}{{"torNum"}}{% else %}{{"teeNum"}}{% endif %}' value="{{udata.k_number}}"></input>
    <input type="hidden" name='{% if udata.is_mentor %}{{"teeNum"}}{% else %}{{"torNum"}}{% endif %}' value="{{student.k_number}}"></input>
    <td><input type="submit" class="btn btn-lg btn-block btn-primary" name='mkAlloc' onclick='return alConf("{{student.first_name + " " + student.last_name}}")' value="Assign"></input></td>
</form>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<h1 class='text-center'> No Students To Match With </h1>
{% endif %}
<br />
<br />
<form method="POST" action="{{url_for('admin.view_student_details')}}">
	<input type="hidden" name="knum" value="{{udata.k_number}}"></input>
	<input type="submit" class="btn btn-lg btn-block btn-primary my-3" value="Back" />
</form>

<script>
	function ele(id) {
		return document.getElementById(id)
	}

	function filterName() {
		var reg = new RegExp(".*" + ele("nameFilt").value + ".*", "i");
		var tb = ele('tbody');
		for (var i = 0, row; row = tb.rows[i]; i++) {
			if (reg.test(row.cells[1].innerHTML + " " + row.cells[2].innerHTML)) { // need to impl show/no show if other filter on
				row.style.display = ''
			} else {
				row.style.display = 'none'
			}
		}
	}

	function alConf(name) {
		return confirm("Match {{udata.first_name + "
			" + udata.last_name}} With " + name + "?")
	}
</script>


{% endblock content_block %}
