{% extends "template.html" %}

{% block nav_block %}
  {% if current_user.priv == 'admin'%}
    <li><a href="/user">User</a></li>
  {% endif %}
{% endblock nav_block %}

{% block content_block %}


<div class="container">
	<div class="text-center searchBar">
		Search By Name:
		<input type='text' id='nameFilt' onkeyup='return filter()' />
		<br />
		Filter:
		<input type='radio' id='all' name='menFilter' onclick='return filter()' checked='checked' value='All' />All
		<input type='radio' id='over' name='menFilter' onclick='return filter()' value='tor' />Mentors
		<input type='radio' id='out' name='menFilter' onclick='return filter()' value='tee' />Mentees
	</div>
</div>

<table class="table table-hover" id='table'>
	<thead>
		<tr>
			<th scope="col" class="text-center">K Number</th>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Gender</th>
			<th scope="col">Mentor?</th>
			<th scope="col" class="text-center">Action</th>
		</tr>
	</thead>
	<tbody id='tbody'>
		{% for student in data %}
		<tr>
			<td>{{student.k_number}}</td>
			<td>{{student.first_name}}</td>
			<td>{{student.last_name}}</td>
			<td>{{student.gender}}</td>
			<td>{% if student.is_mentor %}{{"Yes"}}{% else %}{{"No"}}{% endif %}</td>
			<form method="POST" action='{{url_for("admin.view_student_details")}}'>
				<input type="hidden" name="knum" value="{{student.k_number}}"></input>
				<td><input type="submit" class="btn btn-lg btn-block btn-primary" value="More Details"></input></td>
			</form>
		</tr>
		{% endfor %}
	</tbody>

</table>

<form method="GET" action="{{url_for('admin.admin_dashboard')}}">
	<input type="submit" class="btn btn-lg btn-block btn-primary my-3" value="Back" />
</form>

<script src="{{ url_for('static',filename='js/admin/view_students.js') }}"> </script>


{% endblock content_block %}
