{% extends "shared/user_screen_layout.html" %}

{% block content_block %}



<!--h1>  </h1-->
<div class="text-center">
    Search By Name:
    <input type='text' id='nameFilt' onkeyup='return filter()'/>
    <br />
    Filter:     
    <input type='radio' id='all' name='menFilter' onclick='return filter()' checked ='checked' value='All'/>All
    <input type='radio' id='over' name='menFilter' onclick='return filter()' value='tor'/>Mentors
    <input type='radio' id='out' name='menFilter' onclick='return filter()' value='tee'/>Mentees
</div>


<table class="table table-striped table-hover" id='table'>
    <thead>
        <tr>
            <th scope="col" class="text-center">K Number</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Mentor?</th> 
            <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody id='tbody'>
        {% for student in data %}   
        <tr>
            <td>{{student.k_number}}</td>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.gender}}</td>
            <td>{% if student.is_mentor %}{{"Yes"}}{% else %}{{"No"}}{% endif %}</td>
    <form method="POST" action={{url_for("admin.view_student_details")}}>
        <input type="hidden" name="knum" value="{{student.k_number}}"></input>
        <td><input type="submit" class="btn btn-lg btn-block btn-primary" value="More Details"></input></td>
    </form>
</tr>        
{% endfor %}
</tbody>

</table>

<script>
    function ele(id) {
        return      document.getElementById(id)
    }

    function filter() {
        var tb = ele('tbody')
        var reg = new RegExp(".*" + ele("nameFilt").value + ".*", "i")
        var menFil = selMenFil()
        for (var i = 0, row; row = tb.rows[i]; i++) {
            if (filterName(row, reg) && (menFil === 'All' || mentorFilter(row, menFil))) {
                row.style.display = ''
            } else {
                row.style.display = 'none'
            }
        }
    }

    function filterName(row, reg) {
        if (reg.test(row.cells[1].innerHTML + " " + row.cells[2].innerHTML)) {   // need to impl show/no show if other filter on 
            return true
        } else {
            return false
        }
    }

    function selMenFil() {
        var radios = document.getElementsByName('menFilter');
        for (var i = 0, length = radios.length; i < length; i++)
        {
            if (radios[i].checked)
            {
                return radios[i].value;
            }
        }
    }

    function mentorFilter(row, fil) {
        if ((row.cells[4].innerHTML === 'Yes' && fil === 'tor') || (row.cells[4].innerHTML === 'No' && fil === 'tee')) {
            return true
        } else {
            return false
        }
    }

</script>
{% endblock content_block %}

