{% extends "template.html" %}

{% block nav_block %}
  {% if current_user.priv == 'admin'%}
    <li><a href="/admin">Admin</a></li>
  {% endif %}
{% endblock nav_block %}    

{% block content_block %}

<h1 id="title">Buddy</h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">K-Number</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>{{buddy_data["first_name"]}}</td>
      <td>{{buddy_data["last_name"]}}</td>
      <td>{{k_number_buddy}}</td>
      <td>{{buddy_data["age"]}}</td>
      <td>{{k_number_buddy}}@kcl.ac.uk</td>
    </tr>

  </tbody>
</table>

<div id="browse_app navigate">
    <a class="btn btn-large btn-info" href="{{url_for('user.user_buddy_list')}}">Back to Buddy List </a>
</div>

{% endblock content_block %}
