<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


{% if title %}
<title> {{title}} </title>
{% else %}
<title> No title Selected </title>
{% endif %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link href="../../static/css/user_screen_layout.css" rel="stylesheet">
</head>
<body>
<section class="intro">
<!-- Navigation -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="{{url_for('home')}}">Buddy System</a>
      <div class="mr-auto mt-2 mt-lg-0"> </div>
      <button class="btn btn-outline-danger my-2 my-sm-0" href={{ url_for("login.logout") }}>Sign Out</button>
    </div>
  </nav>



<!--- Welcome Section -->
<div class="container-fluid padding" id="content_block_container">
{% block content_block %} {% endblock content_block %}
</div>

<!--- Three Column Section -->


<!--- Two Column Section -->


<!--- Fixed background -->


<!--- Emoji Section -->


<!--- Meet the team -->


<!--- Cards -->


<!--- Two Column Section -->


<!--- Connect -->


<!--- Footer --> 

<footer>
<div class="container-fluid padding">
  <div class="row text-center">
    <div class="col-md-4">
      <p>Copyright</p>
    </div>
  </div>
</div>
</footer>

</section>

</body>
</html>


