{% extends "template.html" %}

{% block nav_block %}
<li><a href="#">Home</a></li>
<li><a href="#">Features</a></li>
<li><a href="#">Contact</a></li>                                                             
{% endblock nav_block %}

{% block content_block %}

<h1 class="text-center">Schemes: {{ schemes|length }} </h1> <!-- change to active + change url_fors -->
<form method="GET" action="{{url_for('systemadmin.system_new_scheme')}}">
    <input type="submit" class="btn btn-lg btn-block btn-primary my-3" value="New Scheme" name="newScheme"/> 
</form>
{% if schemes|length %}
<table class="table table-hover" id='table'>
    <thead>
        <!--<tr colspan=5><h1 class='text-center'>Schemes</h1></tr>-->
        <tr>
            <th scope="col">Scheme ID</th> <!-- needed???-->
            <th scope="col" class="text-center">Department</th>
            <th scope="col">Registered Students</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-center">View</th>
            <th scope="col" class="text-center">Suspend</th>
            <th scope="col" class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody id='tbody'>
        {% for scheme in schemes %} 
        <tr>
            <td>{{scheme.scheme_id}}</td>
            <td>{{scheme.scheme_name}}</td>
            <td>{{scheme.student_count}}</td>
            <td>{% if scheme.is_active %}{{"Active"}}{% else %}{{"Suspended"}}{% endif %}</td>
    <form method="POST" action='{{url_for("admin.admin_dashboard")}}'>
        <input type='hidden' name='knum' value='{{scheme.id}}'></input>
        <td><input type="submit" class="btn btn-lg btn-block btn-primary" name='viewAdmin' value="View Admin Dashboard"></input></td>
    </form>
    <form method="POST" action='{{url_for("systemadmin.system_admin_dashboard")}}'>
        <input type='hidden' name='knum' value='{{scheme.id}}'></input>
        <td><input type="submit" class="btn btn-lg btn-block btn-primary" onclick="return confSus()"  name='suspendScheme' value="Suspend Scheme"></input></td>
        <td><input type="submit" class="btn btn-lg btn-block btn-primary" onclick="return confDel()" name='deleteScheme' value="Delete Scheme"></input></td>
    </form>
</tr>        
{% endfor %}
</tbody>
</table>
{% else %}
<h1 class='text-center'> No Schemes </h1>
{% endif %}

<script>

    function confSus() {
        return confirm("Please Confirm You Wish To Suspend This Scheme. All Assosicated Data Will Be Retained")
    }

    function confDel() {
        return confirm("Please Confirm You Wish To Delete This Scheme And All Assosicated Data.")
    }



</script>


{% endblock content_block %}










