<DOCTYPE html>
<!--DISCLAIMER: this is inspired from the template that can be downloaded here: https://startbootstrap.com/previews/stylish-portfolio/ -->
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stylish Portfolio - Start Bootstrap Template</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Custom Fonts -->
  <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }} " rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static',filename='vendor/simple-line-icons/css/simple-line-icons.css') }} " rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{ url_for('static',filename='css/stylish-portfolio.min.css') }} " rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">KCL Buddy System</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Get started</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">FAQ</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">King's Buddy System</h1>
      <h3 class="mb-5">
        <em>Connecting students since 1967<br></em>
        <em>Built by KCL students, for KCL students</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ url_for("login.login")}}">Login</a>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ url_for("login.signup")}}">Signup</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Are you looking for some help from fellow upper classmen or are you looking to help younger students?<br></h2>
          <p class="lead mb-5">This is KCL's official platform for connecting students.</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#faq">FAQ</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="faq">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Frequently Asked Questions</h3>
        <h2 class="mb-5">FAQ</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <h4>
            <strong>Is it free?</strong>
          </h4>
          <p class="text-faded mb-0">It is Free! This is thanks to our helping mentors!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <h4>
            <strong>How do I become a mentee?</strong>
          </h4>
          <p class="text-faded mb-0">Once you sign up as a mentee, you can specify your preferences, based on which our state-of-the-art algorithm will assign you a mentor. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <h4>
            <strong>How do I become a mentor?</strong>
          </h4>
          <p class="text-faded mb-0">Once you sign up as a mentor, you can specify your preferences. We will take care of assigning you however mentees you can handle based on what interests you have in common.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <h4>
            <strong>Do you use my data?</strong>
          </h4>
          <p class="text-faded mb-0">We only use your data to match you to the best mentor/mentee and we do not distribute your data to any third parties. You can also request that all your data to be delete, in compliance with the GDPR.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <p class="text-muted small mb-0">Copyright &copy; KCL Buddy System 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static',filename='js/stylish-portfolio.min.js') }}"></script>

</body>

</html>
