<!DOCTYPE html>
<!--DISCLAIMER: this is inspired from the template that can be downloaded here: https://bootsnipp.com/snippets/z8l2X -->
<html lang="en">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/login.css")}}">
    <script type="text/javascript" src="{{ url_for("static", filename="js/login.js")}}" defer> </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-warning">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              {% block content %}{% endblock %}
                <div id="second" style="inline">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>Reset Password</h1>
                            </div>
                        </div>
                        <form action="#" name="request_reset_password" method="post">
                            {{ request_password_reset_form.csrf_token }}
                            <div class="form-group">
                                {{ request_password_reset_form.k_number.label(class="form-control-label") }}
                                {% if request_password_reset_form.k_number.errors %}
                                {{ request_password_reset_form.k_number(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in request_password_reset_form.k_number.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ request_password_reset_form.k_number(class="form-control form-control-lg", placeholder="Enter k-number") }}
                                {% endif %}
                            </div>
                            <div class="col-md-12 text-center ">
                                {{ request_password_reset_form.request_reset_password_submit(class="btn btn-block mybtn btn-primary tx-tfm") }}
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
