{% extends "template.html" %}

{% block content_block %}

<h3> Preferences </h3>
<h4> K-Number: {{user_data["k_number"]}}<h4>
<h4> First Name: {{user_data["first_name"]}}<h4>
<h4> Last Name: {{user_data["last_name"]}}<h4>
<h4> Age: {{user_data["age"]}}<h4>

<form action = "{{url_for('mentee.mentee_preferences')}}" method = "post">
    <div class="form-check">
        <h4> Hobbies:</h4>
        {% for hobby in data_definitions["hobbies"] %}
            <label class="checkbox"><input type="checkbox" name="hobby" value="{{hobby["id"]}}" {% if hobby["id"] in user_data["hobbies"] %} checked {% endif %}>{{hobby["hobby_name"]}}</label>
        {% endfor %}
    </div>
    <div class="form-check">
        <h4> Academic Interests:</h4>
        {% for interest in data_definitions["interests"] %}
            <label class="checkbox"><input type="checkbox" name="interest" value="{{interest["id"]}}" {% if interest["id"] in user_data["interests"] %} checked {% endif %}>{{interest["interest_name"]}}</label>
        {% endfor %}
    </div>
    <div id="submit">
        <p><input class="btn btn-large btn-info" type = "submit" value = "Submit" /></p>
    </div>
</form>

<div id="dashboard">
    <a class="btn btn-large btn-info" href="{{url_for('mentee.mentee')}}">Back to Dashboard</a>
</div>
{% endblock content_block %}
