{% extends "shared/user_screen_layout.html" %}

{% block content_block %}
<h1> Mentors </h1>

{% for k_number, mentor in mentors.items() %}
<div>
    <h2>{{mentor["first_name"] + "  " + mentor["last_name"]}} &nbsp; K-Number: {{k_number}}<h2>

    </h2>
    <div id="browse_app">
        <a class="btn btn-large btn-info" href="{{url_for('mentee_mentor', k_number_mentor=k_number)}}">More Info </a>
    </div>
</div>
{% endfor %}
    

<div id="browse_app">
    <a class="btn btn-large btn-info" href="{{url_for('mentee')}}">Back to Dashboard </a>
</div>



{% endblock content_block %}
